.planet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
  padding: .75rem .5rem;
  border-radius: .25rem;
  background-color: #8e8e8e;

  &__name {
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: #ffe81f;
  }

  &__details-container {
    display: flex;
    flex-direction: column;
  }

  &__details-title {
    align-self: center;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .25rem;
  }
}
