<div class="planet-card">
  <div class="planet-card__name">{{planet.name}}</div>

  <div class="planet-card__details-container">
    <div class="planet-card__detail">{{planet.climate}}</div>
    <div class="planet-card__detail">{{planet.diameter}} km</div>
    <div class="planet-card__detail">{{planet.gravity}} Gs</div>
    <div class="planet-card__detail">{{planet.population}}</div>
  </div>

  <!-- TODO - have this button trigger a modal to display residents of the planet -->
  <button class="planet-card__button">View {{planet.name}}'s Residents</button>
</div>

