main {
  font-family: arial;
}

.planets-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .75rem .75rem;
  padding: 1rem;
  margin-top: 10vh;
  border: solid 1px #2d2d2d;
  border-radius: .25rem;
  background-color: white;
}
