.planets-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .75rem .75rem;
  padding: 1rem;
  margin-top: 10vh;
  border: solid 1px #2d2d2d;
  border-radius: .25rem;
  background-color: white;
}

.paginator {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: .75rem;
}

.paginator__button {
  min-width: 6rem;
  font-size: 1rem;
}
