body {
  background-color: #151515;
}

main {
  font-family: arial;
}

.button {
  padding: .5rem;
  background-color: #fff;
  border: none;
  border-radius: .25rem;

  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}